body {
    font-size: 1em;
}

.alert {
    font-size: large;
    color: purple;
}

img {
    max-width: 100%;
    max-height: auto;
}

.infoicon {
    width: 70px;
}

.formstyle {
    border: 2px;
}

.formstyle>div {
    padding: 2px;
}

.selectbox {
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    width: 100px;
    height: auto;
    cursor: pointer;
    margin: 10px;
}

.editoverlay>div {
    min-width: 400px;
    width: 40%;
    height: auto;
    vertical-align: middle;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}